# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# PyInstaller
*.spec

# Environments
.env
.venv
venv/

# Logs
*.log

# Project specific
error_log.txt

# VS Code
.vscode/

# PyCharm
.idea/
.local_test_data/
